@font-face {
    font-family: "Starborn";
    src: url(/fonts/Starborn.ttf);
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: Starborn;
    color: #FF76B7;
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}
body {
    background-image: url(calcImages/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  
    overflow: hidden;  
}
#calculatorBackground {
    width: 500px;
    height: 680px;
    /* this makes it centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#calculatorContainer {
    position: relative;
    /* makes the container fit the image exactly */
    width: fit-content;
    margin: 0 auto;
}

#buttonContainer {
    position: absolute;
    /* makes it as big as the parent */
    top: 35%;
    left: 18%;
    width: 100%;
    height: 100%;
}

#displayContainer {
    font-family: Starborn;
    font-size: 30px;
    color: #95BBEA;
    position: absolute;
    top: 20%;
    /* the display container should start from the left edge! */
    left: 20%;
    width: 300px;
    overflow: hidden;
}

#displayNumber {
    /* so the number starts from the right of the display container */
    text-align: right;
}

/* the buttons inside the button container: */
.numberButtons , .operatorBtn , #equalBtn {
    margin-right: 33px; 
    margin-bottom: 15px;
    font-size: 35px;
    font-family: Starborn;
    border-radius: 25px;
    padding: 10px;
    color: #FF76B7;
    background-color: #FFF4BF;
}
.operatorBtn , #equalBtn {
    color: #FFF4BF;
    background-color: #FF76B7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#clearBtn {
    font-size: 10px;
    padding: 10px;
    margin-left: 260px; 
    margin-bottom: 15px;
    border-radius: 25px;
    font-family: Starborn;
    color: #FFF4BF;
    background-color: #FF76B7;
}

button.numberButtons {
    width: 50px;
}

button.operatorBtn {
    width: 50px;
}

